<!DOCTYPE html>
<html>
  <head>
    <title>RailsStimulusTesting</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div data-controller='hello'>
      <h1 data-hello-target="output"></h1>
    </div>

    <div data-controller='toggle'>
      <p data-toggle-target="hideable">This paragraph plays peek a boo</p>
      <button data-action="toggle#toggle">Play with the paragraph</button>
    </div>

    <div data-controller='toggle'>
      <button data-action="toggle#replace" data-toggle-target="first">Click me</button>
      <button class='hidden' data-action="toggle#replace" data-toggle-target="second">Now click me</button>
    </div>

    <div data-controller='toggle' data-toggle-target='check'>
      <input data-action='click->toggle#checkbox' type="checkbox" id="test">
      <label for="test">Clicking the box should highlight the div</label><br>
    </div>

    <%= yield %>
  </body>
</html>
